@import "tailwindcss";

/* enable darkMode: "class" functionality in v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* define your custom theme colors */
@theme {
  --color-dark-bg: #101214;
  --color-dark-bg-2: #1d1f21;
  --color-dark-bg-3: #3b3d40;

  --color-blue-primary: #0275ff;
  --color-stroke-dark: #2d3135;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-blue-200: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
}

/* TIMELINE STYLING */

.timeline ._3_ygE {
  @apply rounded-tl-md border border-r-0 border-[#e6e4e4] dark:border-stroke-dark;
}

.timeline ._2eZzQ {
  @apply border-[#e6e4e4] dark:border-stroke-dark;
}

.timeline ._2dZTy {
  @apply fill-white dark:fill-dark-bg-2;
}

.timeline ._2dZTy:nth-child(even) {
  @apply fill-[#f5f5f5] dark:fill-dark-bg-3;
}

.timeline ._35nLX {
  @apply fill-white stroke-[#e6e4e4] dark:fill-dark-bg-2 dark:stroke-stroke-dark;
}

.timeline ._9w8d5 {
  @apply fill-[#333] dark:fill-white;
}

.timeline ._34SS0 {
  @apply bg-white dark:bg-dark-bg-2;
}

.timeline ._34SS0:nth-of-type(even) {
  @apply bg-[#f5f5f5] dark:bg-dark-bg-3;
}

.timeline ._RuwuK,
.timeline ._3rUKi,
.timeline ._1rLuZ {
  @apply stroke-[#e6e4e4] dark:stroke-stroke-dark;
}

.timeline ._3ZbQT {
  @apply border-l-0 border-[#e6e4e4] dark:border-stroke-dark;
}

.timeline ._3T42e {
  @apply bg-white dark:bg-dark-bg;
}

.timeline ._29NTg {
  @apply dark:text-neutral-500;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
