@import "tailwindcss";

/* enable darkMode: "class" functionality in v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* define your custom theme colors */
@theme {
  --color-dark-bg: #101214;
  --color-dark-bg-2: #1d1f21;
  --color-dark-bg-3: #3b3d40;

  --color-blue-primary: #0275ff;
  --color-stroke-dark: #2d3135;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-blue-200: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
}
